{% extends "base.html" %}

{% block content %}

<section id="message">
    {{ message }}
</section>
<section id="main">
    <p>Hello! Welcome to our ITMS 428 final project.</p>

    <p>Please see <a href="https://github.com/HenryFBP/itms-428/tree/master/assignments/group-project">this link</a> for
        our Git repo, and <a href="https://drive.google.com/drive/folders/1QxmZx0Z8Zj2jHo1opDDUPcvPuexvju1t">this
            link</a> for a Google Drive folder with all our project's documents.</p>

    <p>We've got {{users}} users, and {{tables}} tables in our {{dbname}} database.</p>
</section>

{% endblock %}
