[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
six = "*"
pip = "==18.0"
mysqlclient = "==1.3.12"
flask = "*"
flask-mysql = "*"
flask-wtf = "*"

[dev-packages]

[requires]
python_version = "3.6"
